.trafic-light {
    height: 400px;
    width: 200px;
    border-radius: 10px;
}

.poster {
    height: 100px;
    width: 50px;
}

.red,
.yellow,
.green,
.purple {
    height: 33%;
    width: 80%;
    border-radius: 100%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.active {
    box-shadow: -1px 3px 26px 20px rgba(244, 205, 123, 0.75);
    -webkit-box-shadow: -1px 3px 26px 20px rgba(244, 205, 123, 0.75);
    -moz-box-shadow: -1px 3px 26px 20px rgba(244, 205, 123, 0.75);
}

.button {
    background-color: purple;
    color: #fff;
    text-transform: uppercase;
}

.button:hover {
    background-color: #fff;
    border-color: purple;
    color: purple;
}